[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/muhd-umer/simple-knn.git
	branch = main
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/muhd-umer/diff-gaussian-rasterization
	branch = main
[submodule "r2f_engine/third_party/glm"]
	path = r2f_engine/third_party/glm
	url = https://github.com/g-truc/glm.git
